@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#TabsToolbar {
	-moz-box-ordinal-group: 2 !important;
}

#addon-bar {
	-moz-box-ordinal-group: 3 !important;
	width: 100%;
}

#titlebar-placeholder-on-TabsToolbar-for-captions-buttons {
	/*width: auto;
	margin-left: 0;*/
	display: none;
}