@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#TabsToolbar {
	-moz-box-ordinal-group: 2 !important;
}

#addon-bar {
	-moz-box-ordinal-group: 3 !important;
	width: 100%;
}

#titlebar-placeholder-on-TabsToolbar-for-captions-buttons {
	display: none;
}

@media (-moz-os-version: windows-vista),
       (-moz-os-version: windows-win7) {
	#TabsToolbar {
		margin-top: 0px !important;
	}

	#nav-bar {
		margin-top: 20px !important;
	}

	#toolbar-menubar[autohide="false"] ~ #nav-bar {
		margin-top: 1px !important;
	}
}
